/*** GENERAL ***/
/***************/

* {
    font-family: 'Montserrat', sans-serif;
}

.large-pad {
    padding-left: 10%;
    padding-right: 10%;
}

.pad-top {
    padding-top: 2.5rem;
}

.pad-bottom {
    padding-bottom: 2.5rem;
}

.mt-32 {
    margin-top: 2rem;
}

.mb-32 {
    margin-bottom: 2rem;
}

.admin-page-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.light-bg {
    background-color: #F0F3F4;
}

h1, h2, h3, h4, p, li, .fs-18, .fs-12 {
    color: #687578;
}


h1, h2, h3, .fs-18 {
    font-weight: 600;
}

h1 {
    font-size: 1.5rem;

}

h2, .fs-18 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1rem;
}

.fs-12 {
    font-size: .75rem;
}

h4, p, li {
    font-size: .875rem;
    font-weight: 400;
}

a {
    color: #59A8D9;
}

a:hover,
a:focus {
    color: #38c172;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 600;
}

.text-gold {
    color: #687578;
}

.btn-dashboard {
    background-color: #59A8D9;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-radius: 5px;
    transition: all .25s ease;
}

.btn-dashboard:hover,
.btn-dashboard:focus {
    background-color: #687578;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-mucca {
    border-radius: 0;
    font-size: .875rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #687578;
    padding: .5rem 2.25rem;
    white-space: nowrap;
    display: inline-block;
    min-width: 165px;
    text-align: center;
    transition: all .1s ease-out;
    border: 1px solid transparent;
}

.btn-mucca-success {
    background-color: #38c172;
}

.btn-mucca:hover,
.btn-mucca:focus {
    color: #687578;
    text-decoration: none;
    background-color: #F0F3F4;
    border-color: #687578;
}

.btn-mucca-light {
    color: #687578;
    background-color: #F0F3F4
}

.btn-mucca-light:hover,
.btn-mucca-light:focus {
    color: #FFFFFF;
    background-color: #687578;
}

.btn-mucca-danger {
    background-color: #d9534f;
}

.btn-update {
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    max-width: 280px;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

@media (max-width:1365px) {
    .large-pad {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1199px) {
    .large-pad {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width:767px) {
    .large-pad {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn-update {
        max-width: none;
    }
}

/*** LOGIN SCREENS ***/
/*********************/
.login-card {
    border: none;
    border-radius: 0;
}

.login-card .card-header {
    background-color: #38c172;
    color: #FFFFFF;
    border-radius: 0;
}

.login-card .card-body {
    background-color: #F0F3F4;
}

.login-card .form-group {
    margin-bottom: 1.5rem;
}

.login-card label {
    font-size: .75rem;
    margin-bottom: 0;
}

.login-card .form-control {
    color: #687578;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #687578;
    border-radius: 0;
    height: auto;
    font-size: .875rem
}

/*** NAV ***/
/***********/
.navbar {
    background-color: #F0F3F4;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.navbar-brand img {
    max-width: 32px;
}

.navbar-brand span {
    font-size: 0.6875rem;
    display: block;
    margin-top: .5rem;
}

/*** PRODUCT PAGE ***/
.color-check {
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.color-check input {
    display: none;
}

.color-label {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.color-label.is-white {
    width: 34px;
    height: 34px;
    border: 1px solid #CCCCCC;
}

.color-label::before {
    display: inline-block;
    content: ' ';
    width: 46px;
    height: 46px;
    position: absolute;
    top: -7px;
    left: -7px;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: all .15s ease;
}

.color-check input:checked ~ label .color-label::before {
    border-color: #000000;;
}

/*** MODALS ***/
.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header,
.modal-footer {
    background-color: #687578;
    border: none;
    border-radius: 0;
}

.modal-footer {
    background-color: #F0F3F4;
}

.modal-header > * {
    color: #FFFFFF;
}

.modal-header h5.modal-title,
.modal-body label {
    font-size: .875rem;
}

.modal-body input {
    border-radius: 0;
}

.modal-body label.error {
    color: #d9534f;
    font-size: .75rem;
}

/*** TOASTS ***/
.b-toaster.b-toaster-bottom-right {
    bottom: 32px;
    right: 16px;
}